<footer class="sticky-footer">
    <div class="container">
        <div class="text-center">
            <div class="small">
                <a href="https://github.com/adonnelly759/node-red-contrib-dvla-api" target="_blank" rel="noopener noreferrer">Aidan Donnelly</a>
            </div>
        </div>
    </div>
</footer>