doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Fleet Management
    include includes/css/core.pug
    include includes/css/custom.pug
  body#page-top.fixed-nav.sticky-footer
    include includes/navbar.pug
    div
      .container-fluid.pb-4
        block content
          .mb-2
      include includes/footer.pug
      include includes/js/core.pug
      include includes/js/custom.pug